body {
  background-color: #121212;
  color: #fff;
}

.navbar {
  background-color: #1f1f1f;
}

/* Movie Cards */
.movie-card {
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}
.movie-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.15);
}

/* Poster Image */
.poster {
  height: 400px;
  object-fit: cover;
}
